* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #641835;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 20vh;
}

body {
    height: 80vh;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.magic-ball-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 150px;
    width: 162px;
    background-image: url(boulemagiquepetite.png);
}

.magic-ball-image {
    height: 100%;
}

.magic-ball-input {
    background: none;
    color: white;
    border: solid 1px salmon;
}

.grimoire-container {
    display: flex;
    flex-direction: row;
    width: 1120px;
    height: 560px;
    background-image: url(grimoire_ouvert.jpg);
    background-size: 1120px 560px;
}

.left-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    gap: 10px;
}

.right-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.card-small {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
    height: 260px;
    width: 146px;
}