* {
    margin: 0;
    padding: 0;
    border: 0;
    
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
}

body {
    height: 80vh;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.magic-ball-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 150px;
    width: 162px;
    background-image: url(boulemagiquepetite.png);
}

.magic-ball-input {
    background: none;
    color: white;
}

.openBook-button {
    display: flex;
    flex-direction: row;
    background-image: url(grimoire\ \(2\).jpg);
    height: 560px;
    width: 560px;
    background-size: 560px 560px;
    border-radius: 8px;
}
.grimoire-container {
    display: flex;
    flex-direction: row;
    width: 1120px;
    height: 560px;
    background-image : url(vieux_grimoire.PNG);
    background-size: 100% 100%;
    opacity: 0.92;
}

.left-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    gap: 10px;
    &.left-section-set{
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;  
    }
}

.right-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    gap: 10px;
    &.right-section-set{
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;  
    }
}

.card-small {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
    height: 260px;
    width: 146px;
}

.card-normal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height : 90%;
    width: 75%;
}

.card-normal-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: left; 
    height : 85%;
    width: 85%;
    font-size: 15px;
}

.video-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
  
.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}

.card-normal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height : 90%;
    width: 75%;
}

.card-normal-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: left; 
    height : 85%;
    width: 94%;
    font-size: 15px;
}

.next-page-button {
    border-radius: 10px;
    height: 132px;
    margin-top: 250px;
    background: none;
    width:50px;
}

.previous-page-button {
    border-radius: 10px;
    height: 132px;
    margin-top: 250px;
    background: none;
    width:50px;
}

.set-container {
    margin-left: 50px;
}

.set-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.set-icon {
    width: 25px;
    height: 25px;
    background: none;
    width:50px;
}

.key {
    box-shadow: 0 0 1px white, 0 0 2px white, 0 0 6px white, 0 0 12px white, inset 0 0 1px white, inset 0 0 2px white, inset 0 0 6px white, inset 0 0 12px white;
    background-color: none;
}

.buttons-left {
    margin-top: 105px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 4%;
    justify-content: flex-end;
}

.buttons-right {
    margin-top: 90px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 4%;
    justify-content: flex-end;
}

.home-button-container {
    margin-top: 27px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 19%;
    justify-content: flex-end; 
}

.home-button {
    width: 170px;
    height: 160px;
    border: none;
    background-color: transparent;
}

.home-button:active {
    filter : brightness(90%);
}

.button-home-image {
    width: 170px;
    height: 160px;
    display: block;
}

.rare-button {
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    margin-top: 18px;
}

.rare-button-image {
    width: 40px;
    height: 40px;
    display: block;
}

.rare-button:active {
    filter : brightness(90%);
}

.colors-button {
    width: 60px;
    height: 60px;
    border: none;
    background-color: transparent;
}

.button-colors-image {
    width: 60px;
    height: 60px;
    display: block;
}

.colors-button:active {
    filter : brightness(90%);
}

.author-button {
    width: 60px;
    height: 60px;
    border: none;
    background-color: transparent;
}

.button-author-image {
    width: 60px;
    height: 60px;
    display: block;
}

.author-button:active {
    filter : brightness(90%);
}

.random-button {
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    margin-top: 25px;
}

.random-button-image {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-size: cover;
}

.random-button:active {
    filter : brightness(90%);
}

.set-button {
    width: 60px;
    height: 60px;
    border: none;
    background-color: transparent;
}

.set-button-image {
    width: 60px;
    height: 60px;
    display: block;
}

.set-button:active {
    filter : brightness(90%);
}